<div class="gallery" fxLayout="column" fxLayoutAlign="space-between">
    <div>
        <h1 class="title">Gallery App</h1>
        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <div fxLayout="row" @ngIfAnimation>
        <div *ngIf="isLoaded && firstGallery" @left fxFlex="50%;" fxFlex.sm="100%" class="first-gallery"
            (mouseenter)="animateDiv($event)" (mouseleave)="stopAnimation($event)">
            <a href="">
                <div class="background" [ngStyle]="{'background-image': 'url(' + firstGallery.images[0].image + ')'}">
                </div>
                <div class="overlay"></div>
                <div *ngIf="!show" fxLayout="column" fxLayoutAlign="end" class="about-gallery-box">
                    <div fxLayout="column" fxLayoutAlign="end" class="about-gallery about-gallery-lg">
                        <h2 class="gallery-title">{{firstGallery.name}}</h2>
                        <span class="created-at">{{firstGallery.createdAt | date : 'dd.MM - h:mm a'}}</span>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="end" class="about-gallery-box" *ngIf="show">
                    <div @hoverAnimation fxLayout="column" fxLayoutAlign="end" class="about-gallery-hover about-gallery-hover-lg">
                        <h2 class="gallery-title">{{firstGallery.name}}</h2>
                        <span>{{firstGallery.createdAt | date : 'dd.MM - h:mm a'}}</span>
                        <div fxLayout="row" class="likes-comments-box">
                            <div fxLayout="row" class="likes-comments">
                                <span class="material-icons">
                                    favorite_border
                                </span>
                                <span>{{firstGallery.likes.length}}</span>
                            </div>
                            <div fxLayout="row" class="likes-comments">
                                <span class="material-icons">
                                    chat_bubble_outline
                                </span>
                                <span>{{firstGallery.comments.length}}</span>
                            </div>
                        </div>
                        <p class="gallery-description" ellipsis [ellipsis-content]="firstGallery.description"></p>
                    </div>
                </div>
            </a>
        </div>
        <div [@listAnimation]="mainGalleries.length" fxFlex="50%;" fxFlex.sm="100%">
            <div fxLayout="row" fxLayout="row wrap">
                <div *ngFor="let gallery of mainGalleries; let i = index" fxFlex="50%;" class="main-gallery"
                    (mouseenter)="animateBox(i)" (mouseleave)="stopAnimateBox(i)">
                    <a *ngIf="isLoaded && gallery" href="">
                        <div class="background"
                            [ngStyle]="{'background-image': 'url(' + gallery.images[0].image + ')'}">
                        </div>
                        <div class="overlay"></div>
                        <div *ngIf="hoveredArr[i]" class="hover-overlay-box">
                            <div @overlayText class="about-gallery-box">
                                <div fxLayout="column" class="about-gallery-hover about-gallery-hover-sm">
                                    <h4 class="gallery-title">{{gallery.name}}</h4>
                                    <span class="created-at created-at-sm">{{gallery.createdAt | date : 'dd.MM - h:mm a'}}</span>
                                    <div fxLayout="row" class="likes-comments-box">
                                        <div fxLayout="row" class="likes-comments">
                                            <span class="material-icons">
                                                favorite_border
                                            </span>
                                            <span>{{gallery.likes.length}}</span>
                                        </div>
                                        <div fxLayout="row" class="likes-comments">
                                            <span class="material-icons">
                                                chat_bubble_outline
                                            </span>
                                            <span>{{gallery.comments.length}}</span>
                                        </div>
                                    </div>
                                    <p class="gallery-description" ellipsis [ellipsis-content]="gallery.description"></p>
                                </div>
                            </div>
                            <div @overlayLeft class="hover-overlay overlay-left"></div>
                            <div @overlayRight class="hover-overlay overlay-right"></div>
                        </div>
                        <!--div fxLayout="column" fxLayoutAlign="end" class="about-gallery-box">
                                <div fxLayout="column" fxLayoutAlign="end" class="about-gallery">
                                    <h4 class="gallery-title">{{gallery.name}}</h4>
                                    <span>{{gallery.createdAt | date : 'dd.MM - h:mm a'}}</span>
                                </div>
                            </div-->
                        <div *ngIf="!hoveredArr[i]" fxLayout="column" fxLayoutAlign="end" class="about-gallery-box">
                            <div fxLayout="column" fxLayoutAlign="end" class="about-gallery about-gallery-sm">
                                <h4 class="gallery-title">{{gallery.name}}</h4>
                                <span class="created-at">{{gallery.createdAt | date : 'dd.MM - h:mm a'}}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end">
        <button mat-raised-button color="primary" class="btn">See all galleries <span class="material-icons">
                arrow_right_alt
            </span></button>
    </div>
</div>